# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# We don't want results to be committed
results/*
# But we want the results folder to be there
!results/.gitkeep

# Serverless directories
.serverless

# Ignore caches
.pytest_cache/

*.pyc
*.pyo

.DS_Store

node_modules
package-lock.json
.vscode/

# Sphinx stuff
_build
_static
_templates