service: vautomator-serverless
frameworkVersion: ">=1.2.0 <2.0.0"

provider:
  name: aws
  stage: dev
  runtime: python3.6
  region: us-west-2
  stackTags:
    PRODUCT_NAME: "vautomator-serverless-app"
    SERVICE_NAME: "vautomator"
  # To use the bucket specified, we will need permissions
  iamRoleStatements:
   - Effect: "Allow"
     Action:
       - "s3:PutObject"
       - "s3:PutObjectAcl"
     Resource: 
      Fn::Join:
        - ""
        - - Fn::GetAtt:
            - S3BucketResults
            - Arn
          - "/*"
   - Effect: "Allow"
     Action:
      - "sqs:SendMessage"
     Resource:
      Fn::GetAtt: [ SQSQueue, Arn ]
   - Effect: Allow
     Action:
      - "sqs:SendMessage"
     Resource:
      - "Fn::GetAtt":
        - ReceiverDeadLetterQueue
        - Arn
  environment:
    HTTPOBS_API_URL: 'https://http-observatory.security.mozilla.org/api/v1'
    TLSOBS_API_URL: 'https://tls-observatory.services.mozilla.com/api/v1'
    SSHOBS_API_URL: 'https://sshscan.rubidus.com/api/v1'
    # Using Observatory list as source list for scheduled scans as it is comprehensive enough
    # This could be updated later, perhaps to another source, such as pentest-master list?
    HOST_LIST: 'https://raw.githubusercontent.com/mozilla/http-observatory-dashboard/master/httpobsdashboard/conf/sites.json'
    SQS_URL:
      Ref: SQSQueue
  apiKeys:
    - ${self:service}-api-key

# Adding some packaging information here to clean up
# and to include the nmap static library
package:
  include:
    - vendor/*
  exclude:
    - .venv/**
    - .git/**
    - __pycache__/**
    - node_modules/**

functions:
  onDemandPortScan:
    handler: handler.queue_portscan
    description: API endpoint which consumes a hostname/IP address and adds it to the scan queue for port scan.
    events:
      - http:
          path: ondemand/portscan
          method: POST
          cors: true
          private: ${self:custom.cfg.private}
    tags:
      TYPE: ondemand
      SCAN_TYPE: port
  onDemandHttpObservatoryScan:
    handler: handler.queue_httpboservatory
    description: API endpoint which consumes a hostname/IP address and adds it to the scan queue for HTTP Observatory scan.
    # Trying the HTTP 500 alarm here
    alarms:
      # Alert on any errors (very generic alert)
      - functionErrors
      # If you created a custom alert definition (on line 74), use it on a function here
      # - customAlarm
      # Below, we are creating a custom metric, and alerting on that
      # This is possible due to the use of the plugin, however is not very configurable
      # Need to make sure to select a descriptive name and a good description
      # Here, basically we are alerting on the first instance of an unhandled exception
      - name: Error500
        description: 'Alert when HTTP 500 is returned'
        namespace: 'AWS/Lambda'
        metric: Error500   # define custom metrics here
        threshold: 0
        statistic: Average
        period: 300
        evaluationPeriods: 1
        comparisonOperator: GreaterThanThreshold
        treatMissingData: notBreaching
        # Pattern specified here will scan the lambda function logs for this pattern
        # If there is a match, it will raise this alarm
        # Format here follows CloudWatch metric filter format
        # See: https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html
        # Below is an example pattern which would match on a log like:
        # {"level": "ERROR", "message": "Some message"} 
        # pattern: '{($.level = "ERROR") && ($.message = *)}'
        # Let's set a simpler pattern so it would keep alerting on unhandled exceptions
        pattern: 'METRIC Error500'
    events:
      - http:
          path: ondemand/httpobservatory
          method: POST
          cors: true
    tags:
      TYPE: ondemand
      SCAN_TYPE: http-observatory
  onDemandSshObservatoryScan:
    handler: handler.queue_sshobservatory
    description: API endpoint which consumes a hostname/IP address and adds it to the scan queue for SSH Observatory scan.
    events:
      - http:
          path: ondemand/sshobservatory
          method: POST
          cors: true
          private: ${self:custom.cfg.private}
    tags:
      TYPE: ondemand
      SCAN_TYPE: ssh-observatory
  onDemandTlsObservatoryScan:
    handler: handler.queue_tlsobservatory
    description: API endpoint which consumes a hostname/IP address and adds it to the scan queue for TLS Observatory scan.
    events:
      - http:
          path: ondemand/tlsobservatory
          method: POST
          cors: true
    tags:
      TYPE: ondemand
      SCAN_TYPE: tls-observatory
  cronPortScan:
    handler: handler.queue_scheduled_portscan
    description: Cron job which adds a list of hosts to the scan queue for port scan.
    timeout: 60
    events:
      # Invoke Lambda function once a week
      # Run at 6 PM UTC every Wednesday once
      - schedule: 
          rate: cron(0 18 ? * WED *)
          # Not enabling this by default as it is intrusive in nature
          enabled: false
    tags:
      TYPE: cron
      SCAN_TYPE: port
  cronHttpObservatoryScan:
    handler: handler.queue_scheduled_httpobservatory
    description: Cron job which adds a list of hosts to the scan queue for HTTP Observartory scan.
    timeout: 60
    events:
      # Invoke Lambda function once a day
      # Run at 4 PM UTC every day
      - schedule: 
          rate: cron(0 16 * * ? *)
          enabled: true
    tags:
      TYPE: cron
      SCAN_TYPE: http-observatory
  cronTlsObservatoryScan:
    handler: handler.queue_scheduled_tlsobservatory
    description: Cron job which adds a list of hosts to the scan queue for TLS Observatory scan.
    timeout: 60
    events:
      # Invoke Lambda function once a day
      # Run at 4 PM UTC every day
      - schedule:
          rate: cron(0 16 * * ? *)
          enabled: true
    tags:
      TYPE: cron
      SCAN_TYPE: tls-observatory
  cronSshObservatoryScan:
    handler: handler.queue_scheduled_sshobservatory
    description: Cron job which adds a list of hosts to the scan queue for SSH Observatory scan.
    timeout: 60
    events:
      # Invoke Lambda function once a day
      # Run at 4 PM UTC every day
      - schedule: 
          rate: cron(0 16 * * ? *)
          enabled: true
    tags:
      TYPE: cron
      SCAN_TYPE: ssh-observatory
  RunScanQueue:
    handler: handler.runScanFromQ
    description: Function that is triggered to run scans when new messages are in the queue.
    # Giving this function a large timeout so port scans could run
    timeout: 300
    events:
      - sqs:
          arn:
            Fn::GetAtt: [ SQSQueue, Arn ]
          batchSize: 1
    tags:
      TYPE: async
  ingest:
    handler: handler.putInQueue
    description: This is a demo function that can be called manually, not called on an event.
    tags:
      TYPE: demo

plugins:
  - serverless-plugin-aws-alerts
  - serverless-python-requirements
resources:
  Resources:
    S3BucketResults:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.cfg.s3BucketName}
    # Define a dead letter queue here
    ReceiverDeadLetterQueue:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: ${self:custom.cfg.vautomatorDLQ}
        MessageRetentionPeriod: 120
    SQSQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.cfg.vautomatorQ}
        VisibilityTimeout: 300
        MessageRetentionPeriod: 300
        # Use the dead letter queue
        RedrivePolicy:
          deadLetterTargetArn:
            "Fn::GetAtt":
              - ReceiverDeadLetterQueue
              - Arn
          maxReceiveCount: 2
custom:
  cfg:
    s3BucketName: "vautomator-results"
    vautomatorQ: "vautomator-SQS"
    vautomatorDLQ: "vautomator-DLQ"
    notifications:
      - protocol: email
      - endpoint: culucenk@mozilla.com      # Change this to your email address
    private: true # Change to 'false' to disable api-key authorization
  # Trying custom alerts here  
  alerts:
    dashboards: true
    topics:
      alarm:
        topic: ${self:service}-${self:provider.stage}-http500-alerts
        notifications: ${self:custom.cfg.notifications}
    function:
      - functionErrors
  pythonRequirements:
    dockerizePip: true
